.main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);
    gap: 1% 2%;
    height: max-content;
    grid-auto-rows: auto;
}


@media only screen and (max-width: 900px) {
    .main{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 590px) {
    .main{
        grid-template-columns: 1fr;
    }
}